
@{

    ViewData["Title"] = "DropDownDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" >
    
    <select name="cheese">
        @foreach (string cheese in ViewBag.cheeses.Keys)
        {
            <option value="@cheese">@cheese</option>
        }
    </select>
    
    <button type='submit' value='Remove Cheese!'></button>
</form>


